/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --rec-color-decoration: #ff0070;
  --header-text-color: #ff0070;
  --main-title: #ff0070;
  --title-color: #DB00FF;
  --text-theme-color: #000028;
  --text-color: #F1B2CE;
  --background-color: #ff0070;
  --shadow-text-color:#ff0070;
  --outline-color-decoration: #ff0070;
  --background-image-theme: url(../images/cover-image-dark.png);
}

.page.theme_dark {
  background-image: var(--background-image-theme);
  color: var(--text-color);
}
