/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --rec-color-decoration: #ff0070;
  --header-text-color: #ff0070;
  --main-title: #ff0070;
  --title-color: #DB00FF;
  --text-theme-color: #000028;
  --text-color: #F1B2CE;
  --background-color: #ff0070;
  --shadow-text-color:#ff0070;
  --outline-color-decoration: #ff0070;
  --visibility-status-rec: visible;
  --hover-botton-border: 1px solid rgba(255, 0, 112, 0.4);
  --background-image-theme: url(../images/cover-image-dark.png);
}
