/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --rec-color-decoration: #353430;
  --title-color: #FFC2E6;
  --header-text-color: #353430;
  --main-title: #353430;
  --text-color: #353430;
  --text-theme-color: #353430;
  --background-color: #FFC2E6;
  --shadow-text-color: #FFC2E6;
  --outline-color-decoration: #353430;
  --background-image-theme: url(../images/cover-image-light.png);
} 

.page.theme_light {
  background-image: var(--background-image-theme);
  color: var(--text-color);
}
 
@media (prefers-color-scheme: light) {
  :root {
    --rec-color-decoration: #353430;
    --title-color: #FFC2E6;
    --header-text-color: #353430;
    --main-title: #353430;
    --text-color: #353430;
    --text-theme-color: #353430;
    --background-color: #FFC2E6;
    --shadow-text-color: #FFC2E6;
    --outline-color-decoration: #353430;
    --background-image-theme: url(../images/cover-image-light.png);
  }
}
