/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--font-family-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  background-image: var(--background-image-theme);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.header {
  position: relative;
  display: flex;
  width: 1024px;
  height: max(768px, 100vh);
  flex-direction: column;
}

.header__grid {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2.5fr 1fr 2.5fr;
}

.header__theme-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  align-items: center;
  gap: 10px;
  /* высота определяется, так как сам nav - это грид блок. Если убрать высоту,
  то блок ul растянится на весь nav */
  height: 26px;
}

.header__theme-menu-item {
  display: block;
  text-align: center;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--header-text-color);
  line-height: 18px;
  text-align: center;
  height: 26px;
  width: 70px;
  border: none;
  /* для выравнивание текста по центу */
  padding-bottom: 4px;
}

.header__theme-menu-title {
  font-family: var(--font-family-text);
  font-size: 157px;
  font-weight: 700;
  line-height: 130px;
  text-align: left;
  color: var(--title-color);
  text-shadow: 4px 4px 0 #FF0070;
}

.header__theme-menu-information {
  margin-top: 114px;
  margin-left: 513px;
  /* header__theme-menu-information - грид блок, если не указать высоту - блок 
  растянится на высоту родителя */
  height: 71px;
  width: 491px;
  font-weight: 700;
  line-height: 23px;
  background-color: var(--background-color);
  color: var(--text-theme-color);
}

/* main */

.main {
  margin-top: 60px;
  width: 1024px;
}

.main__concentrate {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0 20px;  
}

.main__title {
  width: 315px;
  text-wrap: wrap;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  color: var(--main-title);
}

.main__wrapper-block {
  width: 649px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.title-decor {
  margin: 0;
  background-color: var(--background-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  text-align: left;
  color: var(--text-theme-color);
}

.main__subtitle {
  margin-bottom: 10px;
}

.main__text {
  line-height: 24px;
  color: var(--text-color);
  text-wrap: wrap;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.5px;
}

.main__link-decoration {
  line-height: 23px;
  text-shadow: 2px 2px 0 var(--shadow-text-color);
  text-decoration: none;
}

/* main__wrapper_grid-diference-block */

.main__reduce-concentration {
  margin-top: 80px;
  padding: 0 20px;
}

.main__title_grid {
  margin-bottom: 20px;
}

.main__wrapper_grid-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
}

.main__title_grid-diference {
  margin-bottom: 20px;
}

/* main__how-section */

.main__how-section {
  display: flex;
  justify-content: space-between;
  margin-top: 77px;
  padding: 0 20px;
}

.main__how-section__wrapper-block {
  display: flex;
  flex-direction: column;
  width: 649px;
  gap: 20px;
}

/* picture block */

.main__picture-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding: 0 20px;
}

.main__picture-title {
  margin-bottom: 20px;
  width: 100%;
}

.main__picture-block {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  grid-template-rows: 260px 315px 435px;
  gap: 20px;
}

.main__picture-block-sun {
  width: 649px;
  height: 260px;
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
  object-fit: cover;
}

.main__picture-block-ice-cream {
  width: 315px;
  height: 595px;
  grid-column: 3 / 4;
  grid-row: 1 / span 2;
  object-fit: cover;
}

.main__picture-block-books {
  width: 315px;
  height: 315px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  object-fit: cover;
}

.main__picture-block-music {
  width: 315px;
  height: 768px;
  grid-column: 1 / 2;
  grid-row: 2 / span 2;
  object-fit: cover;
}

.main__picture-block-street {
  width: 649px;
  height: 428px;
  grid-column: 2 / span 2;
  grid-row: 3 / 4;
  object-fit: cover;
  margin-top: 5px;
}

/* footer */

.footer {
  position: relative;
  display: flex;
  height: max(768px, 100vh);
  width: 1024px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 60px;
}

.footer__title {
  font-size: 157px;
  font-weight: 700;
  line-height: 130px;
  text-align: left;
  color: var(--title-color);
  background-color: transparent;
  text-shadow: 4px 4px 0 #FF0070;
}

/* rec decoration */

.header__rec-decoration-block {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  right: 48px;
  color: var(--rec-color-decoration);
  gap: 3px;
  visibility: var(--visibility-status-rec);
}

.header__rec-decoration-block-circle {
  position: absolute;
  top: 28px;
  right: 29px;
  border-radius: 100%;
  width: 9px;
  height: 9px;
  background-color: var(--rec-color-decoration);
  box-shadow: 0px 0px 4px 2px var(--rec-color-decoration);
  visibility: var(--visibility-status-rec);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--rec-color-decoration);
  border-right: 1px solid var(--rec-color-decoration);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--rec-color-decoration);
  border-left: 1px solid var(--rec-color-decoration);
}

/* hover button */

.header__theme-menu-button:hover {
  border: var(--hover-botton-border);
}

.main__link-decoration:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* focus-visible button */

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--outline-color-decoration);
}

.main__link-decoration:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
}

/* active button */

.header__theme-menu-button_active {
  border: 1px solid var(--outline-color-decoration);
  pointer-events: none;
}

/* theme dark & light */

.page.theme_dark {
  background-image: var(--background-image-theme);
  color: var(--text-color);
}

.page.theme_light {
  background-image: var(--background-image-theme);
  color: var(--text-color);
}

/* Стили для планшетов (ширина экрана от 768px до 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    width: 100%;
    height: max(1024px, 100vh);
    align-items: center;
  }

  .header__grid {
    width: 100%;
    grid-template-rows: 1fr 99px 1fr;
  }

  .header__theme-menu {
    align-items: end;
    flex-direction: column;
  }

  .header__theme-menu-list {
    margin-right: 20px;
    height: 98px;
    flex-direction: column;
  }

  .header__theme-menu-title {
    width: 577px;
    font-size: 120px;
    line-height: 99px;
  }

  .header__theme-menu-information {
    width: 364px;
    /* header__theme-menu-information - грид блок, если не указать высоту - блок 
    растянится на высоту родителя */
    height: 117px;
    font-size: 18px;
    margin-top: 163px;
    margin-left: 384px;
  }

  .header__rec-decoration-block {
    right: 50px;
  }

  /* main */
  
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__concentrate {
    width: 100%;
  }

  .main__title {
    /* поставлен мин. значение, иначе не совпадает с блоком */
    min-width: 236px;
  }

  .main__reduce-concentration {
    margin-top: 79px;
  }

  .main__title_grid-diference {
    width: 236px;
  }

  .main__wrapper_grid-block {
    display: flex;
    flex-direction: column;
  }

  .main__how-section {
    margin-top: 80px;
    gap: 20px;
    width: 100%;
  }

  .main__picture-section {
    margin-top: 77px;
    height: 850px;
    width: 100%;
  }

  .main__picture-block {
    grid-template-columns: 229px 230px 229px;
    grid-template-rows: 192px 230px 318px;
  }

  .footer {
    width: 100%;
    height: max(1024px, 100vh);
    margin-top: 32px;
  }

  .footer__title {
    font-size: 120px;
    line-height: 99px;
  }

  /* Картинки */

  .main__picture-block-sun {
    width: 479px;
    height: 192px;
  }
  
  .main__picture-block-ice-cream {
    width: 229px;
    height: 441px;
  }
  
  .main__picture-block-books {
    width: 230px;
    height: 230px;
  }
  
  .main__picture-block-music {
    width: 229px;
    height: 568px;
  }
  
  .main__picture-block-street {
    width: 479px;
    height: 318px;
    margin-top: 0;
  }
}

/* Стили для телефонов (ширина экрана до 768px) */
@media screen and (max-width: 767.9px) {
  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .header__rec-decoration-block-circle {
    top: 18px;
    right: 19px;
  }

  .header {
    width: 100%;
    justify-content: center;
    height: max(668px, 100vh);
  }

  .header__grid {
    grid-template-rows: 1fr 192px 1fr;
  }

  .header__theme-menu {
    justify-content: start;
    align-items: end;
    flex-direction: column;
  }

  .header__theme-menu-list {
    margin-top: 52px;
    margin-right: 10px;
    height: 98px;
    flex-direction: column;
  }

  .header__theme-menu-title {
    font-size: 116px;
    height: 192px;
    width: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    padding-left: 11px;
    padding-top: 4px;
    line-height: 93px;
  }

  .header__theme-menu-information {
    width: 355px;
    height: 117px;
    font-size: 18px;
    margin: 55px 10px 0;
  }

  .header__rec-decoration-block {
    top: 10px;
    right: 40px;
  }

  /* main */

  .main {
    margin: 40px 0 0;
    padding: 0;
    width: 100%;
  }

  .main__concentrate {
    flex-direction: column;
    width: 100%;
    gap: 19px;
    padding: 0 10px;
  }

  .main__wrapper-block {
    width: 100%;
  }

  .main__reduce-concentration {
    margin-top: 50px;
    padding: 0 10px;
  }

  .main__title_grid-diference {
    width: 355px;
  }

  .main__wrapper_grid-block {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  .main__how-section {
    width: 100%;
    margin-top: 48px;
    padding: 0 10px;
    gap: 15px;
    flex-direction: column;
  }

  .main__title {
    width: 355px;
  }

  .main__how-section__wrapper-block {
    width: 100%;
    margin-top: 5px;
  }

  .main__picture-section {
    margin-top: 49px;
    width: 100%;
    height: 1400px;
    padding: 0 10px;
  }

  .main__picture-title {
    margin-bottom: 10px;
  }

  .main__picture-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .main__picture-block-sun {
    width: 355px;
    min-height: 142px;
  }

  .main__picture-block-ice-cream {
    width: 355px;
    min-height: 355px;
  }

  .main__picture-block-books {
    width: 355px;
    min-height: 355px;
  }

  .main__picture-block-music {
    width: 355px;
    min-height: 237px;
  }

  .main__picture-block-street {
    width: 355px;
    min-height: 237px;
    margin-top: 0;
  }

  .footer {
    width: 100%;
    padding: 0;
    height: max(668px, 100vh);
    margin-top: 40px;
  }

  .footer__title {
    font-size: 116px;
    line-height: 93px;
  } 

  /* Картинки */

  .main__picture-block-sun {
    width: 355px;
    height: 142px;
  }
  
  .main__picture-block-ice-cream {
    width: 355px;
    height: 355px;
  }
  
  .main__picture-block-books {
    width: 355px;
    height: 355px;
  }
  
  .main__picture-block-music {
    width: 355px;
    height: 237px;
  }
  
  .main__picture-block-street {
    width: 355px;
    height: 237px;
    margin-top: 0;
  }
}
